@{
    ViewData["Title"] = "Parking Garage Meter";
}


<div class="text-center">
    <h1 class="display-4">Parking Garage Meter</h1>
    <p>Welcome and thanks for choosing our parking garage!</p>
    <a href ="Vehicle/Index">Get a Ticket</a>
    <a href ="Vehicle/ViewAllVehicles">Pay for Parking</a>

 </div>  

