@Model Vehicle

<h2>Enter your details</h2>

@*@using (Html.BeginForm("CreateVehicle", "Vehicle", "Post"))
{
    <label asp-for="License" class="control-label">License</label>
    <input type="text" name="License" class="form-control" value="" />

    <input type="submit" value="Submit" class="btn btn-primary" />
}*@